* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100vw;
    height: 100vh;
    background-color: #8a0505;
  }
  .flex1 {
    /* width: 100vw;
    height: 100vh;
    background-color: #8a0505; */
    padding: 15em 20em;
    /* display: flex; */
  }
  .flex2 {
    width: 40em;
    height: 5em;
    /* padding: 50px 50px; */
    /* margin: 100px 100px; */
    color: white;
    background-color: black;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  span {
    color: #cd333c;
  }
  